{% extends 'base.html' %}





<html lang="en">
{% block content %}
<head>
    
    <a href="{% url 'accounts:profile' post.user.id %}">{{post.user.username}}</a> - {{post.updated|date:"Y-M"}}
    
</head>
<br>
<body>
    <br>
    {% if request.user.id == post.user.id %}
    <a href="{% url 'home:delete' post.id post.slug %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'home:update' post.id %}" class="btn btn-info">Update</a>
    {% endif %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'home:like_post' post.id  %}" class=" {% if can_like %}disabled{% endif %} btn btn-primary col-md-2">Like{{post.like_count}}</a>
        
    {% endif %}
    <p>{{post.body}}</p></hr>
    {% if request.user.is_authenticated %}
        <form action="" method="post" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Comment">
        </form><br/>
    {% endif %}
    

    {% for comment in comments %}
        <div class="card">
            <p class="card-header">{{comment.user}} | {{comment.created|timesince}} ago</p>
            <p class="card-body">{{comment.body}}</p>
            
            {% if request.user.is_authenticated %}    
            <form action="{% url 'home:add_reply' post.id comment.id %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="reply">
            </form>
            {% endif %}
            {% with replies=comment.rcomment.all %}
            {% for reply in replies %}
                <p class="bg-primary p-3 m-2">{{reply.user}} <br/> {{reply.body}} </p>
            {% empty %}
            {% endfor %}
            {% endwith %}
        </div>
        <br/>
    {% empty %}
        <p>No comments yet!</p>
    {% endfor %}
</body>
{% endblock content %}
</html>